<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Seo>
            <version>0.2.7</version>
        </Mirasvit_Seo>
    </modules>
    <global>
        <blocks>
            <seo>
                <class>Mirasvit_Seo_Block</class>
            </seo>
            <page>
                <rewrite>
                    <html_pager>Mirasvit_Seo_Block_Html_Pager</html_pager>
                    <html_head>Mirasvit_Seo_Block_Html_Head</html_head>
                    <html_breadcrumbs>Mirasvit_Seo_Block_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
            <review>
                <rewrite>
                    <helper>Mirasvit_Seo_Block_Review_Helper</helper>
                    <product_view_list>Mirasvit_Seo_Block_Review_Product_View_List</product_view_list>
                    <view>Mirasvit_Seo_Block_Review_View</view>
                </rewrite>
            </review>
             <catalog>
                <rewrite>
                    <product_list_toolbar>Mirasvit_Seo_Block_Catalog_Product_List_Toolbar_Adapter</product_list_toolbar>
                </rewrite>
            </catalog>
           <!--  <adminhtml>
                <rewrite>
                    <cms_page_grid>Mirasvit_Seo_Block_Adminhtml_Cms_Page_Grid</cms_page_grid>
                </rewrite>
            </adminhtml> -->
        </blocks>
        <models>
            <seo>
                <class>Mirasvit_Seo_Model</class>
                <resourceModel>seo_resource</resourceModel>
            </seo>
                <catalog>
                    <rewrite>
                        <product_attribute_backend_urlkey>Mirasvit_Seo_Model_Rewrite_Product_Attribute_Backend_Urlkey</product_attribute_backend_urlkey>
                        <url>Mirasvit_Seo_Model_Rewrite_Url</url>
                    </rewrite>
                </catalog>
                <enterprise_catalog>
                    <rewrite>
                        <product_url>Mirasvit_Seo_Model_Enterprise_Rewrite_Product_Url</product_url>
                    </rewrite>
                </enterprise_catalog>
            <seo_resource>
                <class>Mirasvit_Seo_Model_Resource</class>
                <entities>
                    <rewrite>
                        <table>m_seo_rewrite</table>
                    </rewrite>
                    <rewrite_store>
                        <table>m_seo_rewrite_store</table>
                    </rewrite_store>
                    <redirect>
                        <table>m_seo_redirect</table>
                    </redirect>
                    <redirect_store>
                        <table>m_seo_redirect_store</table>
                    </redirect_store>
                    <template>
                        <table>m_seo_template</table>
                    </template>
                    <template_store>
                        <table>m_seo_template_store</table>
                    </template_store>
                </entities>
            </seo_resource>
            <tag>
                <rewrite>
                    <tag>Mirasvit_Seo_Model_Rewrite_Tag</tag>
                </rewrite>
            </tag>
        </models>
        <helpers>
            <seo>
                <class>Mirasvit_Seo_Helper</class>
            </seo>
            <catalog>
                <rewrite>
                    <image>Mirasvit_Seo_Helper_Rewrite_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <resources>
            <seo_setup>
                <setup>
                    <module>Mirasvit_Seo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seo_setup>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <m_seo_observer>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>checkUrl</method>
                    </m_seo_observer>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_render_before>
                <observers>
                    <m_seo_observer_meta>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>applyMeta</method>
                    </m_seo_observer_meta>
                </observers>
            </controller_action_layout_render_before>

            <adminhtml_catalog_category_tabs>
                <observers>
                    <m_seo_observer_categorytab>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>addCategorySeoTab</method>
                    </m_seo_observer_categorytab>
                </observers>
            </adminhtml_catalog_category_tabs>
            <controller_front_init_routers>
                <observers>
                    <seo>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Controller_Router</class>
                        <method>addSeoUrlsRouter</method>
                    </seo>
                </observers>
            </controller_front_init_routers>
            <catalog_product_collection_load_after>
                <observers>
                    <m_seo_observer_product_urls>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>setupProductUrls</method>
                    </m_seo_observer_product_urls>
                </observers>
            </catalog_product_collection_load_after>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <m_seo_observer_paging>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>setupPagingMeta</method>
                    </m_seo_observer_paging>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <controller_action_layout_render_before_attributepages_page_view> <!-- support of TM_Attributepages -->
                <observers>
                    <m_seo_observer_paging>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>setupPagingMeta</method>
                    </m_seo_observer_paging>
                </observers>
            </controller_action_layout_render_before_attributepages_page_view>
            <catalog_controller_product_init_after>
                <observers>
                    <m_seo_observer_controller_product>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>checkProductUrlRedirect</method>
                    </m_seo_observer_controller_product>
                </observers>
            </catalog_controller_product_init_after>
            <controller_front_send_response_before>
                <observers>
                    <m_seo_observer_http_response_send_before>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>httpResponseSendBeforeEvent</method>
                    </m_seo_observer_http_response_send_before>
                </observers>
            </controller_front_send_response_before>
            <clean_catalog_images_cache_after>
                <observers>
                    <m_seo_observer_clean_catalog_images_cache_after>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>onCleanCatalogImagesCacheAfter</method>
                    </m_seo_observer_clean_catalog_images_cache_after>
                </observers>
            </clean_catalog_images_cache_after>
            <catalog_product_save_after>  <!-- for Magento Enterprise only -->
                <observers>
                    <m_seo_observer_create_product_after>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Observer</class>
                        <method>updateUrlKeyByTemplateIfEmpty</method>
                    </m_seo_observer_create_product_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <seo>
                    <file>seo.xml</file>
                </seo>
            </updates>
        </layout>
         <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <m_seo_snippets_observer>
                        <type>singleton</type>
                        <class>seo/snippets_observer</class>
                        <method>addProductSnippets</method>
                    </m_seo_snippets_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <catalog_helper_output_construct>
                <observers>
                    <m_seo_observer_attributes>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>addCustomAttributeOutputHandler</method>
                    </m_seo_observer_attributes>
                </observers>
            </catalog_helper_output_construct>
            <controller_front_send_response_after>
                <observers>
                    <m_seo_observer_info>
                        <type>singleton</type>
                        <class>seo/info_observer</class>
                        <method>appendInfo</method>
                    </m_seo_observer_info>
                </observers>
            </controller_front_send_response_after>
         </events>
        <translate>
            <modules>
                <Mirasvit_Seo>
                    <files>
                        <default>Mirasvit_Seo.csv</default>
                    </files>
                </Mirasvit_Seo>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <seo after="Mage_Adminhtml">Mirasvit_Seo_Adminhtml</seo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Seo>
                    <files>
                        <default>Mirasvit_Seo.csv</default>
                    </files>
                </Mirasvit_Seo>
            </modules>
        </translate>
        <layout>
            <updates>
                <seo>
                    <file>seo.xml</file>
                </seo>
                <seo_style>
                    <file>mst_seo.xml</file>
                </seo_style>
            </updates>
        </layout>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <seo_cms_save_page>
                        <type>singleton</type>
                        <class>seo/system_cms_observer</class>
                        <method>savePage</method>
                    </seo_cms_save_page>
                </observers>
            </cms_page_prepare_save>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <seo_cms_prepare_form>
                        <type>singleton</type>
                        <class>seo/system_cms_observer</class>
                        <method>prepareForm</method>
                    </seo_cms_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <m_seo>
                        <class>seo/system_config_observer</class>
                        <method>hreflangLocaleCodeInfo</method>
                    </m_seo>
                    <m_seo_max_length>
                        <class>seo/system_config_observer</class>
                        <method>maxLengthInfo</method>
                    </m_seo_max_length>
                    <m_seo_category_url_format>
                        <class>seo/system_config_observer</class>
                        <method>categoryUrlFormatInfo</method>
                    </m_seo_category_url_format>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
        </events>
    </adminhtml>
    <default>
        <seo>
            <general>
                <is_add_canonical_url>1</is_add_canonical_url>
                <crossdomain></crossdomain>
                <paginated_canonical>1</paginated_canonical>
                <trailing_slash>0</trailing_slash>
                <canonical_url_ignore_pages><![CDATA[catalogsearch_result_index
catalogsearch_advanced_index
catalogsearch_advanced_result
checkout_cart_index
checkout_onepage_index
cms_index_noroute]]></canonical_url_ignore_pages>
                <layered_navigation_friendly_urls>1</layered_navigation_friendly_urls>
                <is_enable_image_friendly_urls>0</is_enable_image_friendly_urls>
                <image_url_template>[product_name]</image_url_template>
                <is_enable_image_alt>0</is_enable_image_alt>
                <image_alt_template>[product_name]</image_alt_template>
                <is_category_meta_tags_used>1</is_category_meta_tags_used>
                <is_product_meta_tags_used>1</is_product_meta_tags_used>
            </general>
            <extended>
                <meta_title_page_number>1</meta_title_page_number>
            </extended>
            <snippets>
                <delete_wrong_snippets>0</delete_wrong_snippets>
                <category_rich_snippets_price_text><![CDATA[Minimal Price:]]></category_rich_snippets_price_text>
                <category_rich_snippets_rewiew_count_text><![CDATA[Review(s)]]></category_rich_snippets_rewiew_count_text>
                <hide_category_rich_snippets>0</hide_category_rich_snippets>
                <breadcrumbs_separator><![CDATA[/]]></breadcrumbs_separator>
            </snippets>
            <image>
                <image_url_template><![CDATA[[product_name]]]></image_url_template>
                <image_alt_template><![CDATA[[product_name]]]></image_alt_template>
            </image>
        </seo>
    </default>
</config>