<?xml version="1.0"?>
<config>
    <modules>
        <Unleaded_PIMS>
            <version>0.1.1</version>
        </Unleaded_PIMS>
    </modules>

    <global>

        <blocks>
            <unleaded_pims>
                <class>Unleaded_PIMS_Block</class>
            </unleaded_pims>
        </blocks>

        <helpers>
            <unleaded_pims>
                <class>Unleaded_PIMS_Helper</class>
            </unleaded_pims>
        </helpers>

        <models>
            <unleaded_pims>
                <class>Unleaded_PIMS_Model</class>
                <resourceModel>pims_mysql4</resourceModel>
            </unleaded_pims>
            <pims_mysql4>
                <class>Unleaded_PIMS_Model_Resource</class>
                <entities>
                    <import>
                        <table>unleaded_pims_imports</table>
                    </import>
                    <event>
                        <table>unleaded_pims_events</table>
                    </event>
                    <eventfor>
                        <table>unleaded_pims_eventfor</table>
                    </eventfor>
                    <message>
                        <table>unleaded_pims_messages</table>
                    </message>
                    <messagefor>
                        <table>unleaded_pims_messagefor</table>
                    </messagefor>
                </entities>
            </pims_mysql4>
            <catalog>
                <rewrite>
                    <product_attribute_backend_media>Unleaded_PIMS_Model_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <resource_eav_attribute>Unleaded_PIMS_Model_Resource_Eav_Attribute</resource_eav_attribute>
                </rewrite>
            </catalog>
        </models>

        <resources>
            <pims_setup>
                <setup>
                    <module>Unleaded_PIMS</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pims_setup>
            <pims_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pims_write>
            <pims_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pims_read>
        </resources>

        <events>
            <adminhtml_block_html_before>
                <observers>
                    <unleaded_chaindrive>
                        <type>model</type>
                        <class>unleaded_pims/observer</class>
                        <method>addViewProductButton</method>
                    </unleaded_chaindrive>
                </observers>
            </adminhtml_block_html_before>
        </events>

    </global>

    <admin>
        <routers>
            <unleaded_pims>
                <use>admin</use>
                <args>
                    <module>Unleaded_PIMS</module>
                    <frontName>unleaded_pims</frontName>
                </args>
            </unleaded_pims>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <unleaded_pims>
                    <file>unleaded_pims.xml</file>
                </unleaded_pims>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <unleaded_pims_ftp_poll>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>unleaded_pims/cron::ftpPoll</model>
                </run>
            </unleaded_pims_ftp_poll>
            <unleaded_pims_process_imports>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>unleaded_pims/cron::processImports</model>
                </run>
            </unleaded_pims_process_imports>
        </jobs>
    </crontab>

    <default>
        <unleaded_pims>
            <ftp>
                <host>lundlibrary.com</host>
                <port>21</port>
                <username>MOE</username>
                <password>gxS7AL853dHY5bYn</password>
            </ftp>
            <environment>
                <name>staging</name>
            </environment>
        </unleaded_pims>
    </default>

</config>