<?xml version="1.0"?>
<config>
    <modules>
        <Unleaded_ProductLine>
            <version>0.0.5</version>
        </Unleaded_ProductLine>
    </modules>
    <global>
        <helpers>
            <unleaded_productline>
                <class>Unleaded_ProductLine_Helper</class>
            </unleaded_productline>
        </helpers>
        <blocks>
            <unleaded_productline>
                <class>Unleaded_ProductLine_Block</class>
            </unleaded_productline>
        </blocks>
        <models>
            <unleaded_productline>
                <class>Unleaded_ProductLine_Model</class>
                <resourceModel>unleaded_productline_mysql4</resourceModel>
            </unleaded_productline>
            <unleaded_productline_mysql4>
                <class>Unleaded_ProductLine_Model_Mysql4</class>
                <entities>		  
                    <productline>
                        <table>unleaded_productline</table>
                    </productline>
                </entities>
            </unleaded_productline_mysql4>
        </models>
        <resources>
            <unleaded_productline_setup>
                <setup>
                    <module>Unleaded_ProductLine</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </unleaded_productline_setup>
            <unleaded_productline_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </unleaded_productline_write>
            <unleaded_productline_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </unleaded_productline_read>
        </resources>
    </global>
    <admin>
        <routers>
            <unleaded_productline>
                <use>admin</use>
                <args>
                    <module>Unleaded_ProductLine</module>
                    <frontName>admin_productline</frontName>
                </args>
            </unleaded_productline>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <unleaded_productline module="unleaded_productline">
                <title>Product Lines</title>
                <sort_order>100</sort_order>
                <children>
                    <unleaded_productline module="unleaded_productline">
                        <title>Manage</title>
                        <sort_order>20</sort_order>
                        <action>admin_productline/adminhtml_productline</action>
                    </unleaded_productline>
                </children>
            </unleaded_productline>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <unleaded_productline translate="title" module="unleaded_productline">
                            <title>unleaded_productline</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <unleaded_productline translate="title">
                                    <title>Manage</title>
                                    <sort_order>20</sort_order>
                                </unleaded_productline>
                            </children>
                        </unleaded_productline>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <unleaded_productline>
                    <file>unleaded_productline.xml</file>
                </unleaded_productline>
            </updates>
        </layout>
    </adminhtml>
</config> 