<?xml version="1.0"?>
<config>
    <modules>
        <Unleaded_Guideindexer>
            <version>0.3.0</version>
        </Unleaded_Guideindexer>
    </modules>
    <global>
        <helpers>
            <guideindexer>
                <class>Unleaded_Guideindexer_Helper</class>
            </guideindexer>
        </helpers>
        <models>
            <guideindexer>
                <class>Unleaded_Guideindexer_Model</class>
                <resourceModel>guideindexer_mysql4</resourceModel>
            </guideindexer>
            <guideindexer_mysql4>
                <class>Unleaded_Guideindexer_Model_Mysql4</class>
                <entities>
                    <productguides>
                        <table>guideindexer</table>
                    </productguides>
                </entities>
            </guideindexer_mysql4>
        </models>
        <resources>
            <guideindexer_setup>
                <setup>
                    <module>Unleaded_Guideindexer</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </guideindexer_setup>
            <guideindexer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </guideindexer_write>
            <guideindexer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </guideindexer_read>
        </resources>
        <index>
            <indexer>
                <guideindexer_indexer>
                    <model>guideindexer/indexer</model>
                </guideindexer_indexer>
            </indexer>
        </index>
    </global>
    <frontend>
        <routers>
            <guideindexer>
                <use>standard</use>
                <args>
                    <module>Unleaded_Guideindexer</module>
                    <frontName>guideindexer</frontName>
                </args>
            </guideindexer>
        </routers>
    </frontend>
</config>