<?xml version="1.0"?>
<config>
    <modules>
        <Unleaded_Vehicle>
            <version>0.1.1</version>
        </Unleaded_Vehicle>
    </modules>
    <global>
        <helpers>
            <vehicle>
                <class>Unleaded_Vehicle_Helper</class>
            </vehicle>
        </helpers>
        <blocks>
            <page>
                <rewrite>
                    <html_pager>Unleaded_Vehicle_Block_Html_Pager</html_pager>
                </rewrite>
            </page>
            <amshopby>
                <rewrite>
                    <advanced>Unleaded_Vehicle_Block_Amasty_Advanced</advanced>
                </rewrite>
            </amshopby>
            <catalog>
                <rewrite>
                    <product_list>Unleaded_Vehicle_Block_Catalog_Product_List</product_list>
                    <product_list_toolbar>Unleaded_Vehicle_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <vehicle>
                <class>Unleaded_Vehicle_Block</class>
            </vehicle>
        </blocks>
        <events>
            <controller_front_init_before>
                <observers>
                    <vehicle>
                        <type>singleton</type>
                        <class>Unleaded_Vehicle_Model_Observer</class>
                        <method>performEssentials</method>
                    </vehicle>
                </observers>
            </controller_front_init_before>
        </events>
        <models>
            <catalogsearch>
                <rewrite>
                    <layer>Unleaded_Vehicle_Model_CatalogSearch_Layer</layer>
                </rewrite>
            </catalogsearch>
            <catalog_resource>
                <rewrite>
                    <product_indexer_eav_source>Unleaded_Vehicle_Model_Resource_Product_Indexer_Eav_Source</product_indexer_eav_source>
                </rewrite>
            </catalog_resource>
            <vehicle>
                <class>Unleaded_Vehicle_Model</class>
                <resourceModel>vehicle_mysql4</resourceModel>
            </vehicle>
            <vehicle_mysql4>
                <class>Unleaded_Vehicle_Model_Mysql4</class>
                <entities>		  
                    <ulgarage>
                        <table>ul_vehicle_garages</table>
                    </ulgarage>		  
                    <ulymm>
                        <table>ul_vehicle_ymm</table>
                    </ulymm>
                </entities>
            </vehicle_mysql4>
            <customer>
                <rewrite>
                    <customer>Unleaded_Vehicle_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <resources>
            <vehicle_setup>
                <setup>
                    <module>Unleaded_Vehicle</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vehicle_setup>
            <vehicle_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vehicle_write>
            <vehicle_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vehicle_read>
        </resources>
    </global>
    <admin>
        <routers>
            <vehicle>
                <use>admin</use>
                <args>
                    <module>Unleaded_Vehicle</module>
                    <frontName>admin_vehicle</frontName>
                </args>
            </vehicle>
        </routers>
    </admin>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <vehicle>
                        <type>model</type>
                        <class>Unleaded_Vehicle_Model_Customer_Observer</class>
                        <method>vehicleCarryForward</method>
                    </vehicle>
                </observers>
            </customer_login>
        </events>
        <routers>
            <ulvehicle>
                <use>standard</use>
                <args>
                    <module>Unleaded_Vehicle</module>
                    <frontName>vehicle</frontName>
                </args>
            </ulvehicle>
        </routers>
        <layout>
            <updates>
                <vehicle>
                    <file>ulvehicle.xml</file>
                </vehicle>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <vehicle module="vehicle">
                <title>Manage Vehicles</title>
                <sort_order>100</sort_order>
                <children>
                    <!--<vehiclebackend module="vehicle">
                        <title>UL Vehicle</title>
                        <sort_order>0</sort_order>
                        <action>admin_vehicle/adminhtml_vehiclebackend</action>
                    </vehiclebackend>-->
                    <ulymm module="vehicle">
                        <title>Manage Vehicles</title>
                        <sort_order>20</sort_order>
                        <action>admin_vehicle/adminhtml_ulymm</action>
                    </ulymm>
                </children>
            </vehicle>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <vehicle translate="title" module="vehicle">
                            <title>Vehicle</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <vehiclebackend translate="title">
                                    <title>UL Vehicle</title>
                                </vehiclebackend>
                                <ulymm translate="title">
                                    <title>Manage Vehicles</title>
                                    <sort_order>20</sort_order>
                                </ulymm>
                            </children>
                        </vehicle>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <vehicle>
                    <file>ulvehicle.xml</file>
                </vehicle>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <unleaded_chaindrive_product_import>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vehicle/cron::clearGuestGarages</model>
                </run>
            </unleaded_chaindrive_product_import>
        </jobs>
    </crontab>
</config> 
