<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_SeoFilter>
            <version>0.1.1</version>
        </Mirasvit_SeoFilter>
    </modules>
    <global>
        <blocks>
            <seofilter>
                <class>Mirasvit_SeoFilter_Block</class>
            </seofilter>
            <catalog>
                <rewrite>
                    <!-- <product_list_toolbar>Mirasvit_SeoFilter_Block_Catalog_Product_List_Toolbar</product_list_toolbar> -->
                    <product_list_toolbar_pager>Mirasvit_SeoFilter_Block_Catalog_Product_List_Toolbar_Pager</product_list_toolbar_pager>
                    <layer_state>Mirasvit_SeoFilter_Block_Layer_State</layer_state>
                    <category_view>Mirasvit_SeoFilter_Block_Category_View</category_view>
                </rewrite>
            </catalog>
            <!-- <page>
                <rewrite>
                    <html_pager>Mirasvit_SeoFilter_Block_Catalog_Product_List_Toolbar_Pager</html_pager>
                </rewrite>
            </page> -->
        </blocks>
        <helpers>
            <seofilter>
                <class>Mirasvit_SeoFilter_Helper</class>
            </seofilter>
        </helpers>
        <models>
            <seofilter>
                <class>Mirasvit_SeoFilter_Model</class>
                <resourceModel>seofilter_resource_mysql4</resourceModel>
            </seofilter>
            <seofilter_resource_mysql4>
                <class>Mirasvit_SeoFilter_Model_Resource_Mysql4</class>
                <entities>
                    <rewrite>
                        <table>m_seofilter_rewrite</table>
                    </rewrite>
                </entities>
            </seofilter_resource_mysql4>
            <catalog>
                <rewrite>
                    <layer_filter_item>Mirasvit_SeoFilter_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>
        </models>

        <resources>
            <seofilter_setup>
                <setup>
                    <module>Mirasvit_SeoFilter</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seofilter_setup>
            <seofilter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seofilter_write>
            <seofilter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seofilter_read>
        </resources>

        <events>
            <controller_front_init_routers>
                <observers>
                    <seofilter>
                        <type>singleton</type>
                        <class>Mirasvit_SeoFilter_Controller_Router</class>
                        <method>addFilterUrlsRouter</method>
                    </seofilter>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>
