<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_SeoSitemap>
            <version>1.0.0</version>
        </Mirasvit_SeoSitemap>
    </modules>
    <global>
        <blocks>
            <seositemap>
                <class>Mirasvit_SeoSitemap_Block</class>
            </seositemap>
        </blocks>
        <models>
            <seositemap>
                <class>Mirasvit_SeoSitemap_Model</class>
                <resourceModel>seositemap_resource</resourceModel>
            </seositemap>
            <seositemap_resource>
                <class>Mirasvit_SeoSitemap_Model_Resource</class>
                <entities>
                </entities>
            </seositemap_resource>
            <sitemap>
                <rewrite>
                    <sitemap>Mirasvit_SeoSitemap_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <helpers>
            <seositemap>
                <class>Mirasvit_SeoSitemap_Helper</class>
            </seositemap>
        </helpers>
        <resources>
            <mst_seositemap_setup>
                <setup>
                    <module>Mirasvit_SeoSitemap</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_seositemap_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mstseositemap>
                        <type>singleton</type>
                        <class>Mirasvit_SeoSitemap_Model_Observer</class>
                        <method>registerUrlRewrite</method>
                    </mstseositemap>
                </observers>
            </controller_front_init_routers>
        </events>
        <template>
            <email>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <seositemap>
                    <file>mst_seositemap.xml</file>
                </seositemap>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_SeoSitemap>
                    <files>
                        <default>Mirasvit_SeoSitemap.csv</default>
                    </files>
                </Mirasvit_SeoSitemap>
            </modules>
        </translate>
        <routers>
            <seositemap>
                <use>standard</use>
                <args>
                    <module>Mirasvit_SeoSitemap</module>
                    <frontName>seositemap</frontName>
                </args>
            </seositemap>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <seositemapadmin after="Mage_Adminhtml">Mirasvit_SeoSitemap_Adminhtml</seositemapadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_SeoSitemap>
                    <files>
                        <default>Mirasvit_SeoSitemap.csv</default>
                    </files>
                </Mirasvit_SeoSitemap>
            </modules>
        </translate>
        <layout>
            <updates>
                <seositemap>
                    <file>mst_seositemap.xml</file>
                </seositemap>
            </updates>
        </layout>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <seositemap>
                        <type>singleton</type>
                        <class>seositemap/observer</class>
                        <method>checkCronStatus</method>
                    </seositemap>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>
    <default>
        <seositemap>
            <frontend>
                <sitemap_base_url>sitemap</sitemap_base_url>
                <sitemap_meta_title>Site Map</sitemap_meta_title>
                <sitemap_meta_keywords></sitemap_meta_keywords>
                <sitemap_meta_description></sitemap_meta_description>
                <sitemap_h1>Site Map</sitemap_h1>
                <is_show_products>1</is_show_products>
                <is_show_cms_pages>1</is_show_cms_pages>
                <is_show_stores>1</is_show_stores>
                <links_limit>1000</links_limit>
            </frontend>
            <google>
                <is_add_product_images>1</is_add_product_images>
                <is_enable_image_friendly_urls>1</is_enable_image_friendly_urls>
                <image_url_template>[product_name]</image_url_template>
                <is_add_product_tags>1</is_add_product_tags>
                <product_tags_priority>0.5</product_tags_priority>
                <link_priority>0.5</link_priority>
                <split_size>51200</split_size>
                <max_links>50000</max_links>
            </google>
        </seositemap>
    </default>
</config>