<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <seositemap translate="label" module="seositemap">
            <label>Extended Site Map</label>
            <tab>mstcore</tab>
            <frontend_type>text</frontend_type>
            <sort_order>410</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <frontend>
                    <label>Frontend Sitemap Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <frontend_model>mstcore/system_config_form_fieldset</frontend_model>
                    <expanded>1</expanded>
                    <fields>
                        <sitemap_base_url translate="label">
                            <label>Base URL Path To Frontend Sitemap</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sitemap_base_url>
                        <sitemap_meta_title translate="label">
                            <label>Meta Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sitemap_meta_title>
                        <sitemap_meta_keywords translate="label">
                            <label>Meta Keywords</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sitemap_meta_keywords>
                        <sitemap_meta_description translate="label">
                            <label>Meta Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sitemap_meta_description>
                        <sitemap_h1 translate="label">
                            <label>H1 Header</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sitemap_h1>
                        <is_show_products translate="label">
                            <label>Show Products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_show_products>
                        <is_show_cms_pages translate="label">
                            <label>Show CMS Pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_show_cms_pages>
                        <ignore_cms_pages translate="label">
                            <label>Ignore CMS Pages</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>seositemap/config_source_ignore_cms_pages</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ignore_cms_pages>
                        <is_show_stores translate="label">
                            <label>Show Stores</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_show_stores>
                        <additional_links translate="label">
                            <label>Additional links</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </additional_links>
                        <exclude_links translate="label">
                            <label>Exclude by pattern</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </exclude_links>
                        <links_limit translate="label">
                            <label>Limit the number of links on one page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </links_limit>
                    </fields>
                </frontend>
                <google>
                    <label><![CDATA[Google Sitemap Extended Settings ( You can generate XML sitemap at Catalog / Google Sitemap )]]></label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>20</sort_order>
                    <frontend_model>mstcore/system_config_form_fieldset</frontend_model>
                    <expanded>1</expanded>
                    <fields>
                        <is_add_product_images translate="label">
                            <label><![CDATA[<span class="m-seo-settings-field-arrow">Include Product Images</span>]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_add_product_images>
                        <is_enable_image_friendly_urls translate="label">
                            <label><![CDATA[<span class="m-seo-settings-field-level-1 m-seo-settings-field-arrow">Enable SEO-friendly URLs and custom sizes for Product Images</span>]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><is_add_product_images>1</is_add_product_images></depends>
                        </is_enable_image_friendly_urls>
                        <image_url_template translate="label">
                            <label><![CDATA[<span class="m-seo-settings-field-level-2">Template for URL key of <br/>Product Images</span>]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><is_add_product_images>1</is_add_product_images></depends>
                            <depends><is_enable_image_friendly_urls>1</is_enable_image_friendly_urls></depends>
                        </image_url_template>
                        <image_size_width translate="label">
                            <label><![CDATA[<span class="m-seo-settings-field-level-2">Image Width</span>]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><is_add_product_images>1</is_add_product_images></depends>
                            <depends><is_enable_image_friendly_urls>1</is_enable_image_friendly_urls></depends>
                        </image_size_width>
                        <image_size_height translate="label">
                            <label><![CDATA[<span class="m-seo-settings-field-level-2">Image Height</span>]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><is_add_product_images>1</is_add_product_images></depends>
                            <depends><is_enable_image_friendly_urls>1</is_enable_image_friendly_urls></depends>
                        </image_size_height>
                        <is_add_product_tags translate="label">
                            <label><![CDATA[<span class="m-seo-settings-field-arrow">Include Product Tags</span>]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_add_product_tags>
                        <product_tags_changefreq translate="label">
                            <label><![CDATA[<span class="m-seo-settings-field-level-1">Product Tags Frequency</span>]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_frequency</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><is_add_product_tags >1</is_add_product_tags></depends>
                        </product_tags_changefreq>
                        <product_tags_priority translate="label">
                            <label><![CDATA[<span class="m-seo-settings-field-level-1">Product Tags Priority</span>]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><is_add_product_tags >1</is_add_product_tags></depends>
                        </product_tags_priority>
                        <link_changefreq translate="label">
                            <label>Additional Links Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_frequency</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </link_changefreq>
                        <link_priority translate="label">
                            <label>Additional Links Priority</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </link_priority>
                        <split_size translate="label">
                            <label>Sitemap Split Size, KB</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </split_size>
                        <max_links translate="label">
                            <label>Max URLs quantity per file</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_links>
                    </fields>
                </google>
            </groups>
        </seositemap>
    </sections>
</config>