<?xml version="1.0"?>
<config>
	<modules>
		<Unleaded_YMM>
			<version>0.0.1</version>
		</Unleaded_YMM>
	</modules>
	<global>
		<helpers>
			<unleaded_ymm>
				<class>Unleaded_YMM_Helper</class>
			</unleaded_ymm>
			<catalog>
				<rewrite>
					<category>Unleaded_YMM_Helper_Category</category>
				</rewrite>
			</catalog>
		</helpers>
		<blocks>
			<unleaded_ymm>
				<class>Unleaded_YMM_Block</class>
			</unleaded_ymm>
		</blocks>
		<models>
			<unleaded_ymm>
				<class>Unleaded_YMM_Model</class>
			</unleaded_ymm>
			<amshopby>
				<rewrite>
					<url_builder>Unleaded_YMM_Model_Url_Builder</url_builder>
				</rewrite>
			</amshopby>
			<catalogsearch>
				<rewrite>
					<advanced>Unleaded_YMM_Model_CatalogSearch_Advanced</advanced>
				</rewrite>
			</catalogsearch>
            <catalog>
                <rewrite>
                    <layer>Unleaded_YMM_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
		</models>
		<page>
            <layouts> 
                <unleaded_ymm_category_grid module="page" translate="label">
                    <label>Top Level Category Grid</label>
                    <template>page/top-category-grid.phtml</template>
                    <layout_handle>unleaded_ymm_category_grid</layout_handle>
                </unleaded_ymm_category_grid> 
            </layouts>
        </page>
	</global>
	<default>
		<web>
			<routers>
				<unleaded_ymm>
					<area>frontend</area>
					<class>Unleaded_YMM_Controller_Router</class>
				</unleaded_ymm>
			</routers>
		</web>
	</default>
	<frontend>
		<routers>
			<unleaded_ymm>
				<use>unleaded_ymm</use>
				<args>
					<module>Unleaded_YMM</module>
					<frontName>models</frontName>
				</args>
			</unleaded_ymm>
		</routers>
		<layout>
            <updates>
                <unleaded_ymm>
                    <file>unleaded_ymm.xml</file>
                </unleaded_ymm>
            </updates>
        </layout>
	</frontend>
</config> 