<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_Vidtest>
            <version>1.5.3</version><platform>ee</platform>
        </AW_Vidtest>
    </modules>
    <global>
        <blocks>
            <vidtest>
                <class>AW_Vidtest_Block</class>
            </vidtest>
        </blocks>
        <helpers>
            <vidtest>
                <class>AW_Vidtest_Helper</class>
            </vidtest>
        </helpers>
        <models>
            <vidtest>
                <class>AW_Vidtest_Model</class>
                <resourceModel>vidtest_mysql4</resourceModel>
            </vidtest>
            <vidtest_mysql4>
                <class>AW_Vidtest_Model_Mysql4</class>
                <entities>
                    <lock>
                        <table>aw_vt_lock</table>
                    </lock>
                    <video>
                        <table>aw_vt_video</table>
                    </video>
                    <comment>
                        <table>aw_vt_video_comment</table>
                    </comment>
                    <store>
                        <table>aw_vt_video_store</table>
                    </store>
                </entities>
            </vidtest_mysql4>
        </models>
        <resources>
            <vidtest_setup>
                <setup>
                    <module>AW_Vidtest</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vidtest_setup>
            <vidtest_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vidtest_write>
            <vidtest_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vidtest_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <vidtest>
                    <file>aw_vidtest.xml</file>
                </vidtest>
            </updates>
        </layout>
        <routers>
            <vidtest>
                <use>standard</use>
                <args>
                    <module>AW_Vidtest</module>
                    <frontName>vidtest</frontName>
                </args>
            </vidtest>
        </routers>
        <translate>
            <modules>
                <AW_Vidtest>
                    <files>
                        <default>AW_Vidtest.csv</default>
                    </files>
                </AW_Vidtest>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vidtest_admin before="Mage_Adminhtml">AW_Vidtest_Adminhtml</vidtest_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <vidtest>
            <general>
                <allow_uploads>0,1</allow_uploads>
                <title><![CDATA[Video Testimonials & Reviews]]>
                </title>
                <new_video_status>0</new_video_status>
                <rating_status>2</rating_status>
                <maxupload>2</maxupload>
            </general>
            <thumbs_for_layout>
                <thumbs_for_layout_no_col>6</thumbs_for_layout_no_col>
                <thumbs_for_layout_one_column>5</thumbs_for_layout_one_column>
                <thumbs_for_layout_two_columns_wlb>4</thumbs_for_layout_two_columns_wlb>
                <thumbs_for_layout_two_columns_wrb>4</thumbs_for_layout_two_columns_wrb>
                <thumbs_for_layout_three_column>2</thumbs_for_layout_three_column>
            </thumbs_for_layout>
            <youtube>
                <is_api_model>1</is_api_model>
                <api_model_code>youtube</api_model_code>
            </youtube>
        </vidtest>
    </default>
</config>