<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_SeoAutolink>
            <version>1.0.4</version>
        </Mirasvit_SeoAutolink>
    </modules>
    <global>
        <models>
            <seoautolink>
                <class>Mirasvit_SeoAutolink_Model</class>
                <resourceModel>seoautolink_resource</resourceModel>
            </seoautolink>
            <seoautolink_resource>
                <class>Mirasvit_SeoAutolink_Model_Resource</class>
                <entities>
                    <link>
                        <table>m_seoautolink_link</table>
                    </link>
                    <link_store>
                        <table>m_seoautolink_link_to_store</table>
                    </link_store>
                </entities>
            </seoautolink_resource>
        </models>
        <blocks>
            <seoautolink>
                <class>Mirasvit_SeoAutolink_Block</class>
            </seoautolink>
            <cms>
                <rewrite>
                    <block>Mirasvit_SeoAutolink_Block_Cms_Block</block>
                    <widget_block>Mirasvit_SeoAutolink_Block_Cms_Widget_Block</widget_block>
                </rewrite>
            </cms>
        </blocks>
        <helpers>
            <seoautolink>
                <class>Mirasvit_SeoAutolink_Helper</class>
            </seoautolink>
        </helpers>
        <resources>
            <seoautolink_setup>
                <setup>
                    <module>Mirasvit_SeoAutolink</module>
                </setup>
            </seoautolink_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <seoautolink>
                <use>standard</use>
                <args>
                    <module>Mirasvit_SeoAutolink</module>
                    <frontName>seoautolink</frontName>
                </args>
            </seoautolink>
        </routers>
        <layout>
            <updates>
                <seoautolink module="Mirasvit_SeoAutolink">
                    <file>seoautolink.xml</file>
                </seoautolink>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_SeoAutolink>
                    <files>
                        <default>Mirasvit_SeoAutolink.csv</default>
                    </files>
                </Mirasvit_SeoAutolink>
            </modules>
        </translate>
		<events>
            <core_block_abstract_to_html_after>
                <observers>
                    <m_seoautolink_observer>
                        <type>singleton</type>
                        <class>Mirasvit_SeoAutolink_Model_Observer</class>
                        <method>addBlockOutputHelper</method>
                    </m_seoautolink_observer>
                </observers>
            </core_block_abstract_to_html_after>
             <catalog_helper_output_construct>
                 <observers>
                    <m_seoautolink_observer>
                        <type>singleton</type>
                        <class>Mirasvit_SeoAutolink_Model_Observer</class>
                        <method>addCustomAttributeOutputHandler</method>
                    </m_seoautolink_observer>
                 </observers>
             </catalog_helper_output_construct>
             <cms_page_render>
                 <observers>
                    <m_seoautolink_observer2>
                        <type>singleton</type>
                        <class>Mirasvit_SeoAutolink_Model_Observer</class>
                        <method>cmsPageOutputHandler</method>
                    </m_seoautolink_observer2>
                 </observers>
             </cms_page_render>
             <core_block_abstract_to_html_after>
                 <observers>
                     <m_seoautolink_observer3>
                         <type>singleton</type>
                         <class>Mirasvit_SeoAutolink_Model_Blog_Observer</class>
                         <method>addAutoLinksToBlog</method>
                     </m_seoautolink_observer3>
                 </observers>
             </core_block_abstract_to_html_after>
             <!--
             can be used to add autolinks to reviews. additional template changes is required.
             <review_load_after>
                 <observers>
                    <m_seoautolink_observer_review_load_after>
                        <type>singleton</type>
                        <class>Mirasvit_SeoAutolink_Model_Observer</class>
                        <method>reviewLoadAfterEvent</method>
                    </m_seoautolink_observer_review_load_after>
                 </observers>
             </review_load_after> -->
         </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <seoautolink after="Mage_Adminhtml">Mirasvit_SeoAutolink_Adminhtml</seoautolink>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <seoautolink>
                    <file>seoautolink.xml</file>
                </seoautolink>
                <seoautolink_style>
                    <file>mst_seoautolink.xml</file>
                </seoautolink_style>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_SeoAutolink>
                    <files>
                        <default>Mirasvit_SeoAutolink.csv</default>
                    </files>
                </Mirasvit_SeoAutolink>
            </modules>
        </translate>
    </adminhtml>
</config>
