<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Sociallogin>
            <version>0.3.1</version>
        </Magestore_Sociallogin>
    </modules>
    <frontend>
        <routers>
            <sociallogin>
                <use>standard</use>
                <args>
                    <module>Magestore_Sociallogin</module>
                    <frontName>sociallogin</frontName>
                </args>
            </sociallogin>
        </routers>
        <layout>
            <updates>
                <sociallogin>
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
		<events>			
			<controller_action_predispatch_customer_account_edit>
				<observers>
					<Magestore_Sociallogin_observer>
						<type>singleton</type>
						<class>sociallogin/observer</class>
						<method>customer_edit</method>
					</Magestore_Sociallogin_observer>
		       </observers>				
			</controller_action_predispatch_customer_account_edit>
		</events>
		<translate>
			<modules>
				<Magestore_Sociallogin>
					<files>
						<default>Magestore_Sociallogin.csv</default>
					</files>
				</Magestore_Sociallogin>	
			</modules>
		</translate>
		<enterprise>
			<websiterestriction>
				<full_action_names>
					<generic>
						<sociallogin_allogin_login/>
						<sociallogin_allogin_setblock/>
						<sociallogin_allogin_setscreenname/>
						<sociallogin_amazonlogin_login/>
						<sociallogin_callogin_login/>
						<sociallogin_callogin_setblock/>
						<sociallogin_callogin_setclaivdname/>
						<sociallogin_fblogin_login/>
						<sociallogin_fqlogin_login/>
						<sociallogin_gologin_login/>
						<sociallogin_gologin_user/>
						<sociallogin_instagramlogin_login/>
						<sociallogin_linkedlogin_login/>
						<sociallogin_linkedlogin_user/>
						<sociallogin_livelogin_login/>
						<sociallogin_ljlogin_login/>
						<sociallogin_ljlogin_setblock/>
						<sociallogin_mplogin_login/>
						<sociallogin_openlogin_login/>
						<sociallogin_openlogin_setblock/>
						<sociallogin_orglogin_login/>
						<sociallogin_perlogin_login/>
						<sociallogin_popup_login/>
						<sociallogin_popup_sendpass/>
						<sociallogin_popup_createacc/>
						<sociallogin_selogin_login/>
						<sociallogin_twlogin_login/>
						<sociallogin_twlogin_user/>
						<sociallogin_vklogin_login/>
						<sociallogin_vklogin_user/>
						<sociallogin_wplogin_login/>
						<sociallogin_wplogin_setblock/>
						<sociallogin_wplogin_setblogname/>
						<sociallogin_yalogin_login/>
					</generic>
				</full_action_names>
			</websiterestriction>
		</enterprise>
    </frontend>
    <admin>
        <routers>
			<socialloginadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Sociallogin</module>
					<frontName>socialloginadmin</frontName>
				</args>
			</socialloginadmin>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<sociallogin translate="title">
											<title>Social Login</title>
											<sort_order>50</sort_order>
										</sociallogin>									
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>	
		<layout>
			<updates>
				<sociallogin>
					<file>sociallogin.xml</file>
				</sociallogin>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_adminhtml>
				<observers>
					<Magestore_Sociallogin_observer>
						<type>singleton</type>
						<class>sociallogin/observer</class>
						<method>controller_action_predispatch_adminhtml</method>
					</Magestore_Sociallogin_observer>
		       </observers>				
			</controller_action_predispatch_adminhtml>
		</events>		
		<translate>
			<modules>
				<Magestore_Sociallogin>
					<files>
						<default>Magestore_Sociallogin.csv</default>
					</files>
				</Magestore_Sociallogin>	
			</modules>
		</translate>	
    </adminhtml>   
    <global>
        <models>
            <sociallogin>
                <class>Magestore_Sociallogin_Model</class>
                <resourceModel>sociallogin_mysql4</resourceModel>
            </sociallogin>
            <sociallogin_mysql4>
                <class>Magestore_Sociallogin_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>twlogin_customer</table>
                    </customer>
                    <authorlogin>
                        <table>authorlogin_customer</table>
                    </authorlogin>
					<vklogin>
                        <table>vklogin_customer</table>
                    </vklogin>
                </entities>
            </sociallogin_mysql4>
        </models>
        <resources>
            <sociallogin_setup>
                <setup>
                    <module>Magestore_Sociallogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sociallogin_setup>
            <sociallogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sociallogin_write>
            <sociallogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sociallogin_read>
        </resources>
        <blocks>
            <sociallogin>
                <class>Magestore_Sociallogin_Block</class>
            </sociallogin>
        </blocks>
        <helpers>
            <sociallogin>
                <class>Magestore_Sociallogin_Helper</class>
            </sociallogin>
        </helpers>
    </global>
	
	<default>
		<sociallogin>
			<general>
				<is_active>1</is_active>
				<position>header,popup</position>
				<direction>right</direction>
				<number_show>5</number_show>
			</general>
			<twlogin>	
				<is_active>1</is_active>
				<sort_order>3</sort_order>
			</twlogin>
                        <instalogin>	
				<is_active>1</is_active>
				<sort_order>3</sort_order>
			</instalogin>
			<yalogin>	
				<is_active>1</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>5</sort_order>
			</yalogin>
			<gologin>	
				<is_active>1</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>2</sort_order>
			</gologin>
			<fblogin>	
				<is_active>1</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>1</sort_order>
			</fblogin>
			<!-- by Hai.Ta -->
			<aollogin>	
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>6</sort_order>
			</aollogin>
            <wplogin>	
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>7</sort_order>
			</wplogin>
			<callogin>	
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>8</sort_order>
			</callogin>
			<orglogin>	
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>9</sort_order>
			</orglogin>
			<fqlogin>	
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>10</sort_order>
			</fqlogin>
			<livelogin>	
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>11</sort_order>
			</livelogin>
			<mplogin>	
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>12</sort_order>
			</mplogin>
			<!-- end Hai.Ta -->
			<linklogin>
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>4</sort_order>
			</linklogin>
			<openlogin>
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>13</sort_order>
			</openlogin>
			<ljlogin>
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>14</sort_order>
			</ljlogin>
            <perlogin>
                <sort_order>15</sort_order>
            </perlogin>
            <selogin>
                <sort_order>16</sort_order>
            </selogin>
		</sociallogin>
	</default>
</config>
